body{
    background-color: #282C34;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
button.btn{
    margin-top: 10px;
    padding: 10px;
    /* border-radius: 5px; */
    border: none;
    cursor: pointer;
    background-color: rgb(6 188 238 / 0%);
    color: aqua;
    text-shadow: 0px 1px black;
    border-bottom: solid;
    font-size: 15px;
}
button.btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
    border-radius: 5px;
    border: dashed;
}
section.btn{
    display: flex;
    justify-content: center;
}
div.iconReact{
    display: flex;
    justify-content: flex-end;
    width: 99%;
    padding-top: 35px;
}
div.iconReact>img{
    animation: rodar 4s linear infinite;
}
@keyframes rodar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}